#users
  #main
    %h2
      Make a Chef City account!
    = form_for @user, :remote=>true, :method=>:post do |f|
      %label
        Email
        .label_desc
          Enter your email address
      = f.text_field :email
      %label
        Password
        .label_desc
          Password must be at least 8 characters
      = f.password_field :password
      .submit
        = f.submit
    #register_status