// Place all the styles related to the users controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#users {
    #register_status {
        clear: both;
        margin-left:140px;
        padding-left: 10px;
        text-align: left;
        height:31px;
    }
}